/* ============================================================================= */
/* ======================== Start: Main Styles ================================= */
/* ============================================================================= */
.test{
  background-color: aqua;
  height: 50px;
  width: 125px;
}


/* ============================================================================= */
/* ======================== End: Main Styles =================================== */
/* ============================================================================= */
