<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>DATA DASH | Destination Due Diligence Made Easy</title>
    <!-- Styles CSS is CSS concatinatd  -->
    <link rel="stylesheet" href="./dist/styles.css"/>
    <!-- Bundle CSS is SCSS concatinatd  -->
    <link rel="stylesheet" href="./dist/bundle.css"/>
    <!-- Start: Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
</head>

<body ng-controller="ctrl">
  <main class="main">
  <!-- Start: Dashboard content -->
    <!-- Header -->
    <!-- Interactive map display -->
    <!-- Start: Search results data set  -->
      <!-- 1: Local time -->
      <!-- 2: Local weather -->
      <!-- 3: Home values -->
      <!-- 4: Rent prices -->
      <!-- 5: Gas Price -->
      <!-- 6: School rankings  -->
      <!-- 6: Medical centers nearby -->
      <!-- 7: Crime stats -->
    <!-- End: Search results data set  -->
    <!-- Footer -->
  <!-- End: Dashboard content -->
  </main>
  <!-- Start: JS CDNs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
  <script src="./dist/js/bundle.js"></script>
</body>

</html>
