<!DOCTYPE html>
<html lang="en" ng-app="data-dash">

<head>
    <title>Place Autocomplete Address Form</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <!-- Styles CSS is CSS concatinatd  -->
    <link href="./css/styles.css" rel="stylesheet" />
    <!-- Bundle CSS is SCSS concatinatd  -->
    <link href="./css/bundle.css" rel="stylesheet" />


    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>

<body ng-controller="mainCtrl as vm">
    Auto Complete Type:
    <select ng-model="vm.types">
    <option value="['geocode']">Geodode</option>
    <option value="['establishment']">Establishment</option>
    <option value="['address']">Address</option>
  </select><br/> Enter an address: <br/>
    <input places-auto-complete size=80 ng-model="vm.address" component-restrictions="{country:'us'}" types="{{types}}" on-place-changed="vm.placeChanged()"
    /> <br/>
    <div ng-show="vm.place">
        Address = {{vm.place.formatted_address}} <br/> Location: {{vm.place.geometry.location}}<br/>
    </div>
    address : {{vm.address}}
    <ng-map></ng-map>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>

    <!--Google Map API process-->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAScVx0giSjmYhutsH4_or4hlzl6B4lpdo"></script>

    <!--NG MAP-->
    <!--<script src="./js_plugin/ng-map.min.js"></script>-->

    <script src="bundle.js"></script>

    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAScVx0giSjmYhutsH4_or4hlzl6B4lpdo
&libraries=places&callback=initAutocomplete" async defer></script>-->


</body>

</html>